#### 1. importing the necessary libraries

In [2]:
import numpy as np # "numpy" library is used to handle/perform the numerical operations on the dataset
import pandas as pd # "pandas" library is used for working with datasets(analyzing, cleaning, exploring, manipulating data)
import matplotlib.pyplot as plt # "matplotlib" is a plotting library help to  visualize data
import seaborn as sns # "seaborn" is a advanced visualization technique

#### 2. load the dataset

In [3]:
# using pandas loading the datasets and converting them into dataframes
deliveries = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\infosys\IPL_EDA_Project\deliveries_updated_mens_ipl_upto_2024.csv")
df_deliveries = pd.DataFrame(deliveries)
matches = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\infosys\IPL_EDA_Project\matches_updated_mens_ipl_upto_2024.csv")
df_matches = pd.DataFrame(matches)

In [14]:
matches.shape, deliveries.shape

((1095, 28), (260920, 20))

In [16]:
matches.columns

Index(['eliminator', 'team1', 'neutralvenue', 'balls_per_over', 'umpire2',
       'umpire1', 'outcome', 'venue', 'date1', 'date2', 'method', 'date',
       'team2', 'player_of_match', 'winner_wickets', 'winner_runs',
       'reserve_umpire', 'season', 'city', 'winner', 'match_number', 'event',
       'gender', 'match_referee', 'tv_umpire', 'toss_winner', 'toss_decision',
       'matchId'],
      dtype='object')

In [17]:
deliveries.columns

Index(['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team',
       'bowling_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'Penalty',
       'dismissal_kind', 'player_dismissed', 'date'],
      dtype='object')

In [18]:
matches["matchId"].nunique(), deliveries["matchId"].nunique()

(1095, 1095)

In [19]:
df = pd.merge(
    deliveries,
    matches,
    on="matchId",
    how="left"
)

#### 3. Exploring the dataset(s)

##### a. Head of the dataset(s)

In [21]:
print(f"head of the dataset:\n\n {df.head()}")

head of the dataset:

    matchId  inning  over_ball  over  ball           batting_team  \
0   335982       1        0.1     0     1  Kolkata Knight Riders
1   335982       1        0.2     0     2  Kolkata Knight Riders
2   335982       1        0.3     0     3  Kolkata Knight Riders
3   335982       1        0.4     0     4  Kolkata Knight Riders
4   335982       1        0.5     0     5  Kolkata Knight Riders

                  bowling_team      batsman  non_striker   bowler  ...  \
0  Royal Challengers Bangalore   SC Ganguly  BB McCullum  P Kumar  ...
1  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar  ...
2  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar  ...
3  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar  ...
4  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar  ...

    season       city                 winner  match_number  \
0  2007/08  Bangalore  Kolkata Knight Riders           1.0
1  2007/08  Bangalore  Kolkata Knight Riders           1.0
2  2007/08  Bangalore  Kolkata Knight Riders           1.0
3  2007/08  Bangalore  Kolkata Knight Riders           1.0
4  2007/08  Bangalore  Kolkata Knight Riders           1.0

                   event  gender  match_referee  tv_umpire  \
0  Indian Premier League    male      J Srinath  AM Saheba
1  Indian Premier League    male      J Srinath  AM Saheba
2  Indian Premier League    male      J Srinath  AM Saheba
3  Indian Premier League    male      J Srinath  AM Saheba
4  Indian Premier League    male      J Srinath  AM Saheba

                   toss_winner toss_decision
0  Royal Challengers Bangalore         field
1  Royal Challengers Bangalore         field
2  Royal Challengers Bangalore         field
3  Royal Challengers Bangalore         field
4  Royal Challengers Bangalore         field

[5 rows x 47 columns]

##### b. info about the dataset(s)

In [22]:
print(f"info of the dataset:\n\n{df.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 47 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   matchId           260920 non-null  int64
 1   inning            260920 non-null  int64
 2   over_ball         260920 non-null  float64
 3   over              260920 non-null  int64
 4   ball              260920 non-null  int64
 5   batting_team      260920 non-null  object
 6   bowling_team      260920 non-null  object
 7   batsman           260920 non-null  object
 8   non_striker       260920 non-null  object
 9   bowler            260920 non-null  object
 10  batsman_runs      260920 non-null  int64
 11  extras            260920 non-null  int64
 12  isWide            8381 non-null    float64
 13  isNoBall          1093 non-null    float64
 14  Byes              673 non-null     float64
 15  LegByes           4001 non-null    float64
 16  Penalty           2 non-null       float64
 17  dismissal_kind    260920 non-null  object
 18  player_dismissed  260920 non-null  object
 19  date_x            260920 non-null  object
 20  eliminator        3634 non-null    object
 21  team1             260920 non-null  object
 22  neutralvenue      18369 non-null   object
 23  balls_per_over    260920 non-null  int64
 24  umpire2           260920 non-null  object
 25  umpire1           260920 non-null  object
 26  outcome           4124 non-null    object
 27  venue             260920 non-null  object
 28  date1             402 non-null     object
 29  date2             402 non-null     object
 30  method            3131 non-null    object
 31  date_y            260920 non-null  object
 32  team2             260920 non-null  object
 33  player_of_match   260430 non-null  object
 34  winner_wickets    135296 non-null  float64
 35  winner_runs       121500 non-null  float64
 36  reserve_umpire    255167 non-null  object
 37  season            260920 non-null  object
 38  city              248523 non-null  object
 39  winner            256796 non-null  object
 40  match_number      245098 non-null  float64
 41  event             260920 non-null  object
 42  gender            260920 non-null  object
 43  match_referee     260920 non-null  object
 44  tv_umpire         259990 non-null  object
 45  toss_winner       260920 non-null  object
 46  toss_decision     260920 non-null  object
dtypes: float64(9), int64(7), object(31)
memory usage: 93.6+ MB
info of the dataset:

None

In [23]:
print(f"shape of the dataset:\n\n{df.shape}")

shape of the dataset:

(260920, 47)

In [24]:
print(f"describe of the dataset:\n\n{df.describe()}")

describe of the dataset:

            matchId         inning      over_ball           over  \
count  2.609200e+05  260920.000000  260920.000000  260920.000000
mean   9.070665e+05       1.483531       9.560015       9.197677
std    3.679913e+05       0.502643       5.686116       5.683484
min    3.359820e+05       1.000000       0.100000       0.000000
25%    5.483340e+05       1.000000       4.500000       4.000000
50%    9.809670e+05       1.000000       9.400000       9.000000
75%    1.254066e+06       2.000000      14.400000      14.000000
max    1.426312e+06       6.000000      19.900000      19.000000

                ball   batsman_runs         extras       isWide     isNoBall  \
count  260920.000000  260920.000000  260920.000000  8381.000000  1093.000000
mean        3.623452       1.265001       0.067806     1.201050     1.032022
std         1.813850       1.639298       0.343265     0.783803     0.314310
min         1.000000       0.000000       0.000000     1.000000     1.000000
25%         2.000000       0.000000       0.000000     1.000000     1.000000
50%         4.000000       1.000000       0.000000     1.000000     1.000000
75%         5.000000       1.000000       0.000000     1.000000     1.000000
max        11.000000       6.000000       7.000000     5.000000     5.000000

             Byes      LegByes  Penalty  balls_per_over  winner_wickets  \
count  673.000000  4001.000000      2.0        260920.0   135296.000000
mean     1.866270     1.307673      5.0             6.0        6.121253
std      1.312692     0.852387      0.0             0.0        1.832560
min      1.000000     1.000000      5.0             6.0        1.000000
25%      1.000000     1.000000      5.0             6.0        5.000000
50%      1.000000     1.000000      5.0             6.0        6.000000
75%      4.000000     1.000000      5.0             6.0        7.000000
max      4.000000     5.000000      5.0             6.0       10.000000

         winner_runs   match_number
count  121500.000000  245098.000000
mean       29.704634      31.293931
std        26.255650      18.290542
min         1.000000       1.000000
25%        11.000000      16.000000
50%        22.000000      31.000000
75%        40.000000      46.000000
max       146.000000      72.000000

In [8]:
print(f"null values in the dataset: {df_deliveries.isnull().sum()}")
print()
print(f"null values in the dataset: {df_matches.isnull().sum()}")

null values in the dataset: matchId                  0
inning                   0
over_ball                0
over                     0
ball                     0
batting_team             0
bowling_team             0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extras                   0
isWide              252539
isNoBall            259827
Byes                260247
LegByes             256919
Penalty             260918
dismissal_kind      247970
player_dismissed    247970
date                     0
dtype: int64

null values in the dataset: eliminator         1081
team1                 0
neutralvenue       1018
balls_per_over        0
umpire2               0
umpire1               0
outcome            1076
venue                 0
date1              1093
date2              1093
method             1077
date                  0
team2                 0
player_of_match       5
winner_wickets      517
winner_runs         597
reserve_umpire       24
season                0
city                 51
winner               19
match_number         66
event                 0
gender                0
match_referee         0
tv_umpire             4
toss_winner           0
toss_decision         0
matchId               0
dtype: int64

In [25]:
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [26]:
cat_cols = df.select_dtypes(include=["object"]).columns
for col in cat_cols:
    if not df[col].mode().empty:
        df[col] = df[col].fillna(df[col].mode()[0])

C:\Users\DELL\AppData\Local\Temp\ipykernel_13832\3984707114.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(df[col].mode()[0])

In [27]:
summary = pd.DataFrame({
    "Data Type": df.dtypes,
    "Missing Values": df.isnull().sum(),
    "Missing %": (df.isnull().mean() * 100).round(2),
    "Unique Values": df.nunique()
})
summary.sort_values("Missing %", ascending=False)

                 Data Type  Missing Values  Missing %  Unique Values
matchId              int64               0        0.0           1095
inning               int64               0        0.0              6
over_ball          float64               0        0.0            182
over                 int64               0        0.0             20
ball                 int64               0        0.0             10
batting_team        object               0        0.0             19
bowling_team        object               0        0.0             19
batsman             object               0        0.0            674
non_striker         object               0        0.0            664
bowler              object               0        0.0            531
batsman_runs         int64               0        0.0              7
extras               int64               0        0.0              7
isWide             float64               0        0.0              5
isNoBall           float64               0        0.0              4
Byes               float64               0        0.0              4
LegByes            float64               0        0.0              5
Penalty            float64               0        0.0              1
dismissal_kind      object               0        0.0             10
player_dismissed    object               0        0.0            630
date_x              object               0        0.0            823
eliminator          object               0        0.0              7
team1               object               0        0.0             19
neutralvenue          bool               0        0.0              1
balls_per_over       int64               0        0.0              1
umpire2             object               0        0.0             62
umpire1             object               0        0.0             62
outcome             object               0        0.0              2
venue               object               0        0.0             58
date1               object               0        0.0              2
date2               object               0        0.0              2
method              object               0        0.0              1
date_y              object               0        0.0            823
team2               object               0        0.0             19
player_of_match     object               0        0.0            291
winner_wickets     float64               0        0.0             10
winner_runs        float64               0        0.0             98
reserve_umpire      object               0        0.0             75
season              object               0        0.0             17
city                object               0        0.0             36
winner              object               0        0.0             19
match_number       float64               0        0.0             72
event               object               0        0.0              1
gender              object               0        0.0              1
match_referee       object               0        0.0             30
tv_umpire           object               0        0.0             70
toss_winner         object               0        0.0             19
toss_decision       object               0        0.0              2

In [29]:
from sklearn.preprocessing import StandardScaler

scale_cols = [
    "batsman_runs",
    "extras",
    "winner_runs",
    "winner_wickets",
    "match_number"
]

scaler = StandardScaler()
df[scale_cols] = scaler.fit_transform(df[scale_cols])
df[scale_cols].describe()

       batsman_runs        extras   winner_runs  winner_wickets  match_number
count  2.609200e+05  2.609200e+05  2.609200e+05    2.609200e+05  2.609200e+05
mean  -1.786433e-17 -7.298231e-18  2.701435e-17    9.171807e-17 -1.742861e-17
std    1.000002e+00  1.000002e+00  1.000002e+00    1.000002e+00  1.000002e+00
min   -7.716739e-01 -1.975334e-01 -1.341821e+00   -3.832609e+00 -1.707870e+00
25%   -7.716739e-01 -1.975334e-01 -1.957929e-01   -4.759555e-02 -8.053127e-01
50%   -1.616554e-01 -1.975334e-01 -1.957929e-01   -4.759555e-02 -1.557518e-02
75%   -1.616554e-01 -1.975334e-01 -1.957929e-01   -4.759555e-02  7.741623e-01
max    2.888437e+00  2.019489e+01  6.571231e+00    2.980415e+00  2.297227e+00

In [30]:
from sklearn.preprocessing import LabelEncoder

binary_cols = ["toss_decision", "outcome", "eliminator"]

le = LabelEncoder()
for col in binary_cols:
    df[col] = le.fit_transform(df[col])

In [31]:
nominal_cols = [
    "batting_team", "bowling_team",
    "team1", "team2", "winner",
    "city", "venue"
]

df = pd.get_dummies(df, columns=nominal_cols, drop_first=True)

In [32]:
df.shape

(260920, 222)

In [33]:
df.select_dtypes(include=["object"]).columns

Index(['batsman', 'non_striker', 'bowler', 'dismissal_kind',
       'player_dismissed', 'date_x', 'umpire2', 'umpire1', 'date1', 'date2',
       'method', 'date_y', 'player_of_match', 'reserve_umpire', 'season',
       'event', 'gender', 'match_referee', 'tv_umpire', 'toss_winner'],
      dtype='object')

In [34]:
#feature engineering
df["total_runs"] = df["batsman_runs"] + df["extras"]

In [35]:
df["is_legal_ball"] = ((df["isWide"] == 0) & (df["isNoBall"] == 0)).astype(int)

In [36]:
df["balls_bowled"] = df.groupby(
    ["matchId", "inning"]
)["is_legal_ball"].cumsum()

In [37]:
df["runs_cumulative"] = df.groupby(
    ["matchId", "inning"]
)["total_runs"].cumsum()

In [38]:
df["current_run_rate"] = (
    df["runs_cumulative"] / (df["balls_bowled"] / 6)
)

In [39]:
df["is_wicket"] = df["player_dismissed"].notna().astype(int)

In [40]:
df["wickets_fallen"] = df.groupby(
    ["matchId", "inning"]
)["is_wicket"].cumsum()

In [41]:
df["wickets_remaining"] = 10 - df["wickets_fallen"]

In [42]:
df["balls_remaining"] = 120 - df["balls_bowled"]

In [43]:
df["runs_per_ball"] = df["runs_cumulative"] / df["balls_bowled"]

In [44]:
df[
    [
        "total_runs",
        "runs_cumulative",
        "current_run_rate",
        "wickets_remaining",
        "balls_remaining"
    ]
].head(10)

,total_runs,runs_cumulative,current_run_rate,wickets_remaining,balls_remaining
0,1.943997,1.943997,inf,9,120
1,-0.969207,0.974789,inf,8,120
2,1.943997,2.918786,inf,7,120
3,-0.969207,1.949579,inf,6,120
4,-0.969207,0.980371,inf,5,120
5,-0.969207,0.011164,inf,4,120
6,1.943997,1.955161,inf,3,120
7,-0.969207,0.985954,inf,2,120
8,1.470867,2.456820,inf,1,120
9,1.470867,3.927687,inf,0,120