In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\.conda\envs\cricket\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\admin\.conda\envs\cricket\lib\site-packages (from scikit-learn) (2.2.5)
Requirement already satisfied: scipy>=1.8.0 in c:\users\admin\.conda\envs\cricket\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\.conda\envs\cricket\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\.conda\envs\cricket\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [3]:
ipl = pd.read_csv(
    r"C:\Users\ADMIN\Desktop\ipl_score\data\cleaned\ipl_clean.csv",
    low_memory=False
)

In [4]:
print(ipl.columns.tolist())

['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind', 'fielder', 'id', 'season', 'venue', 'date', 'team1', 'team2']

In [5]:
#player-match aggregation

df = (ipl.groupby([
        'match_id', 'date', 'venue',
        'batting_team', 'bowling_team',
        'batter', 'bowler'
    ])
    .agg(
        runs_scored=('batsman_runs', 'sum'),
        wickets=('is_wicket', 'sum'),
        balls=('ball', 'count')
    )
    .reset_index()
     )

print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
1        335982  2008-04-18                     M Chinnaswamy Stadium
2        335982  2008-04-18                     M Chinnaswamy Stadium
3        335982  2008-04-18                     M Chinnaswamy Stadium
4        335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54066   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54067   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54068   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54069   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                batting_team                 bowling_team         batter  \
0      Kolkata Knight Riders  Royal Challengers Bangalore    BB McCullum
1      Kolkata Knight Riders  Royal Challengers Bangalore    BB McCullum
2      Kolkata Knight Riders  Royal Challengers Bangalore    BB McCullum
3      Kolkata Knight Riders  Royal Challengers Bangalore    BB McCullum
4      Kolkata Knight Riders  Royal Challengers Bangalore    BB McCullum
...                      ...                          ...            ...
54066    Sunrisers Hyderabad        Kolkata Knight Riders    RA Tripathi
54067    Sunrisers Hyderabad        Kolkata Knight Riders    RA Tripathi
54068    Sunrisers Hyderabad        Kolkata Knight Riders  Shahbaz Ahmed
54069    Sunrisers Hyderabad        Kolkata Knight Riders  Shahbaz Ahmed
54070    Sunrisers Hyderabad        Kolkata Knight Riders        TM Head

           bowler  runs_scored  wickets  balls
0       AA Noffke           24        0     13
1        CL White           16        0      4
2       JH Kallis           32        0     17
3         P Kumar           32        0     17
4        SB Joshi           21        0     11
...           ...          ...      ...    ...
54066    MA Starc            6        1      5
54067    VG Arora            3        0     11
54068  AD Russell            8        0      4
54069    CV Varun            0        1      3
54070    VG Arora            0        1      1

[54071 rows x 10 columns]

In [6]:
print(df.columns.tolist())

['match_id', 'date', 'venue', 'batting_team', 'bowling_team', 'batter', 'bowler', 'runs_scored', 'wickets', 'balls']

In [7]:
df = df.sort_values(['date'])

In [8]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54047   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54039   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54047          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54039        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54070          Sunrisers Hyderabad        Kolkata Knight Riders      TM Head

             bowler  runs_scored  wickets  balls
0         AA Noffke           24        0     13
26         AB Dinda            1        0      1
27         I Sharma            0        0      2
28       AB Agarkar            4        0      5
29         AB Dinda            1        0      3
...             ...          ...      ...    ...
54045  Harshit Rana            2        0      4
54046      MA Starc            5        0      5
54047     SP Narine            3        0      8
54039       B Kumar           19        0      5
54070      VG Arora            0        1      1

[54071 rows x 10 columns]

In [9]:
# rolling form feature

df['rolling_avg_5'] = ( df.groupby('batter')['runs_scored'].rolling(5)
    .mean().reset_index(level=0, drop=True))

In [10]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54047   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54039   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54047          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54039        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54070          Sunrisers Hyderabad        Kolkata Knight Riders      TM Head

             bowler  runs_scored  wickets  balls  rolling_avg_5
0         AA Noffke           24        0     13            NaN
26         AB Dinda            1        0      1            NaN
27         I Sharma            0        0      2            NaN
28       AB Agarkar            4        0      5            NaN
29         AB Dinda            1        0      3            NaN
...             ...          ...      ...    ...            ...
54045  Harshit Rana            2        0      4            2.8
54046      MA Starc            5        0      5            3.6
54047     SP Narine            3        0      8            4.0
54039       B Kumar           19        0      5            9.6
54070      VG Arora            0        1      1            4.4

[54071 rows x 11 columns]

In [11]:
# venue average feature
df['venue_avg'] = df.groupby(['batter','venue'])['runs_scored'].transform('mean')

In [12]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54047   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54039   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54047          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54039        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54070          Sunrisers Hyderabad        Kolkata Knight Riders      TM Head

             bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg
0         AA Noffke           24        0     13            NaN  10.608696
26         AB Dinda            1        0      1            NaN   6.807018
27         I Sharma            0        0      2            NaN   6.807018
28       AB Agarkar            4        0      5            NaN   2.739130
29         AB Dinda            1        0      3            NaN   2.739130
...             ...          ...      ...    ...            ...        ...
54045  Harshit Rana            2        0      4            2.8   4.333333
54046      MA Starc            5        0      5            3.6   4.333333
54047     SP Narine            3        0      8            4.0   4.333333
54039       B Kumar           19        0      5            9.6   7.111111
54070      VG Arora            0        1      1            4.4   5.875000

[54071 rows x 12 columns]

In [13]:
#opponent pvt feature
df['pvt_avg'] = df.groupby(['batter','bowling_team'])['runs_scored'].expanding().mean().shift(1)\
                            .reset_index(level=[0,1],drop=True)

In [14]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54047   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54039   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54047          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54039        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54070          Sunrisers Hyderabad        Kolkata Knight Riders      TM Head

             bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0         AA Noffke           24        0     13            NaN  10.608696
26         AB Dinda            1        0      1            NaN   6.807018
27         I Sharma            0        0      2            NaN   6.807018
28       AB Agarkar            4        0      5            NaN   2.739130
29         AB Dinda            1        0      3            NaN   2.739130
...             ...          ...      ...    ...            ...        ...
54045  Harshit Rana            2        0      4            2.8   4.333333
54046      MA Starc            5        0      5            3.6   4.333333
54047     SP Narine            3        0      8            4.0   4.333333
54039       B Kumar           19        0      5            9.6   7.111111
54070      VG Arora            0        1      1            4.4   5.875000

         pvt_avg
0       7.666667
26      5.666667
27      1.000000
28      5.000000
29      4.000000
...          ...
54045   7.406250
54046   7.242424
54047   7.176471
54039   5.375000
54070  10.714286

[54071 rows x 13 columns]

In [15]:
#pvp feature
df['pvp_avg'] = (df.groupby(['batter', 'bowler'])['runs_scored']
    .transform('mean'))

In [16]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54047   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54039   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54047          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54039        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54070          Sunrisers Hyderabad        Kolkata Knight Riders      TM Head

             bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0         AA Noffke           24        0     13            NaN  10.608696
26         AB Dinda            1        0      1            NaN   6.807018
27         I Sharma            0        0      2            NaN   6.807018
28       AB Agarkar            4        0      5            NaN   2.739130
29         AB Dinda            1        0      3            NaN   2.739130
...             ...          ...      ...    ...            ...        ...
54045  Harshit Rana            2        0      4            2.8   4.333333
54046      MA Starc            5        0      5            3.6   4.333333
54047     SP Narine            3        0      8            4.0   4.333333
54039       B Kumar           19        0      5            9.6   7.111111
54070      VG Arora            0        1      1            4.4   5.875000

         pvt_avg    pvp_avg
0       7.666667  24.000000
26      5.666667   4.333333
27      1.000000   9.750000
28      5.000000   4.000000
29      4.000000   3.500000
...          ...        ...
54045   7.406250   2.500000
54046   7.242424   5.000000
54047   7.176471   6.428571
54039   5.375000   7.000000
54070  10.714286   0.000000

[54071 rows x 14 columns]

In [17]:
#career average
df['career_avg'] = df.groupby('batter')['runs_scored'].expanding().mean().shift(1)\
                            .reset_index(level=0,drop=True)

In [18]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54047   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54039   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54047          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54039        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54070          Sunrisers Hyderabad        Kolkata Knight Riders      TM Head

             bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0         AA Noffke           24        0     13            NaN  10.608696
26         AB Dinda            1        0      1            NaN   6.807018
27         I Sharma            0        0      2            NaN   6.807018
28       AB Agarkar            4        0      5            NaN   2.739130
29         AB Dinda            1        0      3            NaN   2.739130
...             ...          ...      ...    ...            ...        ...
54045  Harshit Rana            2        0      4            2.8   4.333333
54046      MA Starc            5        0      5            3.6   4.333333
54047     SP Narine            3        0      8            4.0   4.333333
54039       B Kumar           19        0      5            9.6   7.111111
54070      VG Arora            0        1      1            4.4   5.875000

         pvt_avg    pvp_avg  career_avg
0       7.666667  24.000000    0.750000
26      5.666667   4.333333    5.450000
27      1.000000   9.750000    1.000000
28      5.000000   4.000000    4.575000
29      4.000000   3.500000    4.000000
...          ...        ...         ...
54045   7.406250   2.500000    5.863095
54046   7.242424   5.000000    5.840237
54047   7.176471   6.428571    5.835294
54039   5.375000   7.000000    6.807292
54070  10.714286   0.000000    8.976744

[54071 rows x 15 columns]

In [19]:
# Fill missing values (NaN) in the 'rolling_avg_5' column with the corresponding 'career_avg' values

df['rolling_avg_5'] = df['rolling_avg_5'].fillna(df['career_avg'].mean())
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54047   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54039   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54070   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54047          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54039        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54070          Sunrisers Hyderabad        Kolkata Knight Riders      TM Head

             bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0         AA Noffke           24        0     13        6.04888  10.608696
26         AB Dinda            1        0      1        6.04888   6.807018
27         I Sharma            0        0      2        6.04888   6.807018
28       AB Agarkar            4        0      5        6.04888   2.739130
29         AB Dinda            1        0      3        6.04888   2.739130
...             ...          ...      ...    ...            ...        ...
54045  Harshit Rana            2        0      4        2.80000   4.333333
54046      MA Starc            5        0      5        3.60000   4.333333
54047     SP Narine            3        0      8        4.00000   4.333333
54039       B Kumar           19        0      5        9.60000   7.111111
54070      VG Arora            0        1      1        4.40000   5.875000

         pvt_avg    pvp_avg  career_avg
0       7.666667  24.000000    0.750000
26      5.666667   4.333333    5.450000
27      1.000000   9.750000    1.000000
28      5.000000   4.000000    4.575000
29      4.000000   3.500000    4.000000
...          ...        ...         ...
54045   7.406250   2.500000    5.863095
54046   7.242424   5.000000    5.840237
54047   7.176471   6.428571    5.835294
54039   5.375000   7.000000    6.807292
54070  10.714286   0.000000    8.976744

[54071 rows x 15 columns]

In [20]:
#create target label
df['next_match_runs'] = df.groupby('batter')['runs_scored'].shift(-1)

df= df.dropna()

In [21]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54042   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54043   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54044   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54042        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54043        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54044          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram

              bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0          AA Noffke           24        0     13        6.04888  10.608696
26          AB Dinda            1        0      1        6.04888   6.807018
27          I Sharma            0        0      2        6.04888   6.807018
28        AB Agarkar            4        0      5        6.04888   2.739130
29          AB Dinda            1        0      3        6.04888   2.739130
...              ...          ...      ...    ...            ...        ...
54042  Shahbaz Ahmed            4        0      5        4.20000   7.111111
54043    T Natarajan           20        0      6        6.60000   7.111111
54044     AD Russell            0        1      1        4.80000   4.333333
54045   Harshit Rana            2        0      4        2.80000   4.333333
54046       MA Starc            5        0      5        3.60000   4.333333

        pvt_avg    pvp_avg  career_avg  next_match_runs
0      7.666667  24.000000    0.750000             16.0
26     5.666667   4.333333    5.450000              0.0
27     1.000000   9.750000    1.000000              7.0
28     5.000000   4.000000    4.575000              1.0
29     4.000000   3.500000    4.000000              2.0
...         ...        ...         ...              ...
54042  4.772727   4.000000    6.752632             20.0
54043  4.739130   7.250000    6.738220             19.0
54044  7.645161   3.800000    5.898204              2.0
54045  7.406250   2.500000    5.863095              5.0
54046  7.242424   5.000000    5.840237              3.0

[53396 rows x 16 columns]

In [22]:
#----Rolling average of wickets---
df['rolling_wkts_5'] = (
    df.groupby('bowler')['wickets']
      .rolling(5)
      .mean()
      .reset_index(level=0, drop=True)
)

df['rolling_wkts_5'] = df['rolling_wkts_5'].fillna(
    df['wickets'].mean()
)
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54042   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54043   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54044   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54042        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54043        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54044          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram

              bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0          AA Noffke           24        0     13        6.04888  10.608696
26          AB Dinda            1        0      1        6.04888   6.807018
27          I Sharma            0        0      2        6.04888   6.807018
28        AB Agarkar            4        0      5        6.04888   2.739130
29          AB Dinda            1        0      3        6.04888   2.739130
...              ...          ...      ...    ...            ...        ...
54042  Shahbaz Ahmed            4        0      5        4.20000   7.111111
54043    T Natarajan           20        0      6        6.60000   7.111111
54044     AD Russell            0        1      1        4.80000   4.333333
54045   Harshit Rana            2        0      4        2.80000   4.333333
54046       MA Starc            5        0      5        3.60000   4.333333

        pvt_avg    pvp_avg  career_avg  next_match_runs  rolling_wkts_5
0      7.666667  24.000000    0.750000             16.0        0.237864
26     5.666667   4.333333    5.450000              0.0        0.237864
27     1.000000   9.750000    1.000000              7.0        0.237864
28     5.000000   4.000000    4.575000              1.0        0.237864
29     4.000000   3.500000    4.000000              2.0        0.237864
...         ...        ...         ...              ...             ...
54042  4.772727   4.000000    6.752632             20.0        0.400000
54043  4.739130   7.250000    6.738220             19.0        0.000000
54044  7.645161   3.800000    5.898204              2.0        0.400000
54045  7.406250   2.500000    5.863095              5.0        0.600000
54046  7.242424   5.000000    5.840237              3.0        0.600000

[53396 rows x 17 columns]

In [23]:
#---------Venue wise bowling average------
df['bowler_venue_avg'] = (
    df.groupby(['bowler', 'venue'])['wickets']
      .transform('mean')
)
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54042   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54043   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54044   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54042        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54043        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54044          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram

              bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0          AA Noffke           24        0     13        6.04888  10.608696
26          AB Dinda            1        0      1        6.04888   6.807018
27          I Sharma            0        0      2        6.04888   6.807018
28        AB Agarkar            4        0      5        6.04888   2.739130
29          AB Dinda            1        0      3        6.04888   2.739130
...              ...          ...      ...    ...            ...        ...
54042  Shahbaz Ahmed            4        0      5        4.20000   7.111111
54043    T Natarajan           20        0      6        6.60000   7.111111
54044     AD Russell            0        1      1        4.80000   4.333333
54045   Harshit Rana            2        0      4        2.80000   4.333333
54046       MA Starc            5        0      5        3.60000   4.333333

        pvt_avg    pvp_avg  career_avg  next_match_runs  rolling_wkts_5  \
0      7.666667  24.000000    0.750000             16.0        0.237864
26     5.666667   4.333333    5.450000              0.0        0.237864
27     1.000000   9.750000    1.000000              7.0        0.237864
28     5.000000   4.000000    4.575000              1.0        0.237864
29     4.000000   3.500000    4.000000              2.0        0.237864
...         ...        ...         ...              ...             ...
54042  4.772727   4.000000    6.752632             20.0        0.400000
54043  4.739130   7.250000    6.738220             19.0        0.000000
54044  7.645161   3.800000    5.898204              2.0        0.400000
54045  7.406250   2.500000    5.863095              5.0        0.600000
54046  7.242424   5.000000    5.840237              3.0        0.600000

       bowler_venue_avg
0              0.200000
26             0.236842
27             0.111111
28             0.300000
29             0.236842
...                 ...
54042          0.384615
54043          0.157895
54044          0.500000
54045          0.285714
54046          0.200000

[53396 rows x 18 columns]

In [24]:
#----------Career average wickets------
df['bowler_career_avg'] = (
    df.groupby('bowler')['wickets']
      .expanding()
      .mean()
      .shift(1)
      .reset_index(level=0, drop=True)
)
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54042   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54043   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54044   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54042        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54043        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54044          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram

              bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0          AA Noffke           24        0     13        6.04888  10.608696
26          AB Dinda            1        0      1        6.04888   6.807018
27          I Sharma            0        0      2        6.04888   6.807018
28        AB Agarkar            4        0      5        6.04888   2.739130
29          AB Dinda            1        0      3        6.04888   2.739130
...              ...          ...      ...    ...            ...        ...
54042  Shahbaz Ahmed            4        0      5        4.20000   7.111111
54043    T Natarajan           20        0      6        6.60000   7.111111
54044     AD Russell            0        1      1        4.80000   4.333333
54045   Harshit Rana            2        0      4        2.80000   4.333333
54046       MA Starc            5        0      5        3.60000   4.333333

        pvt_avg    pvp_avg  career_avg  next_match_runs  rolling_wkts_5  \
0      7.666667  24.000000    0.750000             16.0        0.237864
26     5.666667   4.333333    5.450000              0.0        0.237864
27     1.000000   9.750000    1.000000              7.0        0.237864
28     5.000000   4.000000    4.575000              1.0        0.237864
29     4.000000   3.500000    4.000000              2.0        0.237864
...         ...        ...         ...              ...             ...
54042  4.772727   4.000000    6.752632             20.0        0.400000
54043  4.739130   7.250000    6.738220             19.0        0.000000
54044  7.645161   3.800000    5.898204              2.0        0.400000
54045  7.406250   2.500000    5.863095              5.0        0.600000
54046  7.242424   5.000000    5.840237              3.0        0.600000

       bowler_venue_avg  bowler_career_avg
0              0.200000           0.333333
26             0.236842           0.201220
27             0.111111           0.000000
28             0.300000           0.200000
29             0.236842           0.000000
...                 ...                ...
54042          0.384615           0.162393
54043          0.157895           0.250000
54044          0.500000           0.288095
54045          0.285714           0.290698
54046          0.200000           0.269608

[53396 rows x 19 columns]

In [25]:
#--------Bowler vs Batting Team (team Matchup)-------
df['bowler_vs_team_avg'] = (
    df.groupby(['bowler', 'batting_team'])['wickets']
      .expanding()
      .mean()
      .shift(1)
      .reset_index(level=[0,1], drop=True)
)
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54042   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54043   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54044   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54045   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54046   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team       batter  \
0            Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum
26     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
27     Royal Challengers Bangalore        Kolkata Knight Riders    JH Kallis
28     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
29     Royal Challengers Bangalore        Kolkata Knight Riders   MV Boucher
...                            ...                          ...          ...
54042        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54043        Kolkata Knight Riders          Sunrisers Hyderabad      VR Iyer
54044          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54045          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram
54046          Sunrisers Hyderabad        Kolkata Knight Riders   AK Markram

              bowler  runs_scored  wickets  balls  rolling_avg_5  venue_avg  \
0          AA Noffke           24        0     13        6.04888  10.608696
26          AB Dinda            1        0      1        6.04888   6.807018
27          I Sharma            0        0      2        6.04888   6.807018
28        AB Agarkar            4        0      5        6.04888   2.739130
29          AB Dinda            1        0      3        6.04888   2.739130
...              ...          ...      ...    ...            ...        ...
54042  Shahbaz Ahmed            4        0      5        4.20000   7.111111
54043    T Natarajan           20        0      6        6.60000   7.111111
54044     AD Russell            0        1      1        4.80000   4.333333
54045   Harshit Rana            2        0      4        2.80000   4.333333
54046       MA Starc            5        0      5        3.60000   4.333333

        pvt_avg    pvp_avg  career_avg  next_match_runs  rolling_wkts_5  \
0      7.666667  24.000000    0.750000             16.0        0.237864
26     5.666667   4.333333    5.450000              0.0        0.237864
27     1.000000   9.750000    1.000000              7.0        0.237864
28     5.000000   4.000000    4.575000              1.0        0.237864
29     4.000000   3.500000    4.000000              2.0        0.237864
...         ...        ...         ...              ...             ...
54042  4.772727   4.000000    6.752632             20.0        0.400000
54043  4.739130   7.250000    6.738220             19.0        0.000000
54044  7.645161   3.800000    5.898204              2.0        0.400000
54045  7.406250   2.500000    5.863095              5.0        0.600000
54046  7.242424   5.000000    5.840237              3.0        0.600000

       bowler_venue_avg  bowler_career_avg  bowler_vs_team_avg
0              0.200000           0.333333            0.333333
26             0.236842           0.201220            0.166667
27             0.111111           0.000000            0.000000
28             0.300000           0.200000            0.190476
29             0.236842           0.000000            0.000000
...                 ...                ...                 ...
54042          0.384615           0.162393            0.111111
54043          0.157895           0.250000            0.319149
54044          0.500000           0.288095            0.298701
54045          0.285714           0.290698            0.333333
54046          0.200000           0.269608            0.259259

[53396 rows x 20 columns]

In [26]:
df['next_match_wicket'] = df.groupby('bowler')['wickets'].shift(-1)

df= df.dropna()

In [27]:
print(df)

       match_id        date                                     venue  \
0        335982  2008-04-18                     M Chinnaswamy Stadium
26       335982  2008-04-18                     M Chinnaswamy Stadium
27       335982  2008-04-18                     M Chinnaswamy Stadium
28       335982  2008-04-18                     M Chinnaswamy Stadium
29       335982  2008-04-18                     M Chinnaswamy Stadium
...         ...         ...                                       ...
54068   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54036   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54031   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54032   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai
54033   1426312  2024-05-26  MA Chidambaram Stadium, Chepauk, Chennai

                      batting_team                 bowling_team  \
0            Kolkata Knight Riders  Royal Challengers Bangalore
26     Royal Challengers Bangalore        Kolkata Knight Riders
27     Royal Challengers Bangalore        Kolkata Knight Riders
28     Royal Challengers Bangalore        Kolkata Knight Riders
29     Royal Challengers Bangalore        Kolkata Knight Riders
...                            ...                          ...
54068          Sunrisers Hyderabad        Kolkata Knight Riders
54036        Kolkata Knight Riders          Sunrisers Hyderabad
54031        Kolkata Knight Riders          Sunrisers Hyderabad
54032        Kolkata Knight Riders          Sunrisers Hyderabad
54033        Kolkata Knight Riders          Sunrisers Hyderabad

                   batter         bowler  runs_scored  wickets  balls  ...  \
0             BB McCullum      AA Noffke           24        0     13  ...
26              JH Kallis       AB Dinda            1        0      1  ...
27              JH Kallis       I Sharma            0        0      2  ...
28             MV Boucher     AB Agarkar            4        0      5  ...
29             MV Boucher       AB Dinda            1        0      3  ...
...                   ...            ...          ...      ...    ...  ...
54068       Shahbaz Ahmed     AD Russell            8        0      4  ...
54036             SS Iyer     AK Markram            1        0      1  ...
54031  Rahmanullah Gurbaz     JD Unadkat            5        0      2  ...
54032  Rahmanullah Gurbaz     PJ Cummins            9        0      9  ...
54033  Rahmanullah Gurbaz  Shahbaz Ahmed           13        1      8  ...

       venue_avg   pvt_avg    pvp_avg  career_avg  next_match_runs  \
0      10.608696  7.666667  24.000000    0.750000             16.0
26      6.807018  5.666667   4.333333    5.450000              0.0
27      6.807018  1.000000   9.750000    1.000000              7.0
28      2.739130  5.000000   4.000000    4.575000              1.0
29      2.739130  4.000000   3.500000    4.000000              2.0
...          ...       ...        ...         ...              ...
54068   3.000000  3.470588   8.333333    4.474576              0.0
54036   5.000000  6.652778   1.000000    6.944444              5.0
54031   6.666667  4.666667   5.000000    6.710526              9.0
54032   6.666667  4.714286   7.500000    6.666667             13.0
54033   6.666667  5.250000   9.000000    6.725000              7.0

       rolling_wkts_5  bowler_venue_avg  bowler_career_avg  \
0            0.237864          0.200000           0.333333
26           0.237864          0.236842           0.201220
27           0.237864          0.111111           0.000000
28           0.237864          0.300000           0.200000
29           0.237864          0.236842           0.000000
...               ...               ...                ...
54068        0.200000          0.500000           0.288783
54036        0.000000          0.000000           0.068966
54031        0.000000          0.166667           0.238938
54032        0.200000          0.238095           0.240458
54033        0.400000          0.384615           0.155172

       bowler_vs_team_avg  next_match_wicket
0                0.333333                1.0
26               0.166667                0.0
27               0.000000                0.0
28               0.190476                0.0
29               0.000000                0.0
...                   ...                ...
54068            0.302632                1.0
54036            0.333333                0.0
54031            0.152174                0.0
54032            0.235294                0.0
54033            0.000000                0.0

[52864 rows x 21 columns]

In [28]:
print(df.columns.tolist())

['match_id', 'date', 'venue', 'batting_team', 'bowling_team', 'batter', 'bowler', 'runs_scored', 'wickets', 'balls', 'rolling_avg_5', 'venue_avg', 'pvt_avg', 'pvp_avg', 'career_avg', 'next_match_runs', 'rolling_wkts_5', 'bowler_venue_avg', 'bowler_career_avg', 'bowler_vs_team_avg', 'next_match_wicket']

In [29]:
df = df.sort_values('match_id').reset_index(drop=True)

In [30]:
#feature selection
features_runs = df[['rolling_avg_5','venue_avg','pvt_avg','pvp_avg','career_avg']]
labels_runs   = df[['next_match_runs']]

In [31]:
features_wickets = df[['rolling_wkts_5','bowler_venue_avg','pvt_avg','pvp_avg','bowler_career_avg',
                      'bowler_vs_team_avg']]
labels_wickets   = df[['next_match_wicket']]

In [32]:
print("Features(Runs):")
print(features_runs.head(5))

Features(Runs):
   rolling_avg_5  venue_avg  pvt_avg    pvp_avg  career_avg
0        6.04888   8.077586      0.0  10.181818         0.0
1        6.04888   6.666667      0.0   1.000000        11.5
2        6.04888   6.666667      1.0   2.000000         1.0
3        6.04888   6.666667      1.5   3.000000         1.5
4        6.04888   6.333333      1.5   2.333333         1.5

In [33]:
print("Labels(Runs):")
print(labels_runs.head(5))

Labels(Runs):
   next_match_runs
0              2.0
1              2.0
2              3.0
3              3.0
4              6.0

In [34]:
print("Features(Wickets):")
print(features_wickets.head(5))

Features(Wickets):
   rolling_wkts_5  bowler_venue_avg  pvt_avg    pvp_avg  bowler_career_avg  \
0        0.237864          0.111111      0.0  10.181818           0.000000
1        0.237864          0.300000      0.0   1.000000           0.333333
2        0.400000          0.236842      1.0   2.000000           0.250000
3        0.000000          0.111111      1.5   3.000000           0.000000
4        0.237864          0.287037      1.5   2.333333           0.000000

   bowler_vs_team_avg
0            0.000000
1            0.333333
2            0.250000
3            0.000000
4            0.000000

In [35]:
print("Labels(Wickets):")
print(labels_wickets.head(5))

Labels(Wickets):
   next_match_wicket
0                0.0
1                1.0
2                0.0
3                1.0
4                0.0

In [36]:
split = int(len(df) * 0.8)

# Runs
Xr_train, Xr_test = features_runs[:split], features_runs[split:]
yr_train, yr_test = labels_runs[:split], labels_runs[split:]

# Wickets
Xw_train, Xw_test = features_wickets[:split], features_wickets[split:]
yw_train, yw_test = labels_wickets[:split], labels_wickets[split:]

In [37]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [38]:
pipeline_runs = Pipeline([
    ('scaler', StandardScaler())
])

Xr_train_scaled = pipeline_runs.fit_transform(Xr_train)
Xr_test_scaled  = pipeline_runs.transform(Xr_test)

joblib.dump(
    pipeline_runs,
    r"C:\Users\ADMIN\Desktop\ipl_score\scripts\pipeline_runs.pkl"
)

['C:\\Users\\ADMIN\\Desktop\\ipl_score\\scripts\\pipeline_runs.pkl']

In [39]:
pipeline_wickets = Pipeline([
    ('scaler', StandardScaler())
])

Xw_train_scaled = pipeline_wickets.fit_transform(Xw_train)
Xw_test_scaled  = pipeline_wickets.transform(Xw_test)

joblib.dump(
    pipeline_wickets,
    r"C:\Users\ADMIN\Desktop\ipl_score\scripts\pipeline_wickets.pkl"
)

['C:\\Users\\ADMIN\\Desktop\\ipl_score\\scripts\\pipeline_wickets.pkl']

In [42]:
final_df = df[
    ['batter','date','venue','bowling_team',
     'rolling_avg_5','venue_avg','pvt_avg','pvp_avg','career_avg',
     'next_match_runs','rolling_wkts_5','bowler_venue_avg','bowler_career_avg',
     'bowler_vs_team_avg','next_match_wicket']
]

final_df.to_csv(
    r"C:\Users\ADMIN\Desktop\ipl_score\data\processed\dataset.csv",
    index=False
)

In [41]:
print(final_df.head())
print(final_df.shape)

      batter        date                  venue                 bowling_team  \
0    V Kohli  2008-04-18  M Chinnaswamy Stadium        Kolkata Knight Riders
1   W Jaffer  2008-04-18  M Chinnaswamy Stadium        Kolkata Knight Riders
2   W Jaffer  2008-04-18  M Chinnaswamy Stadium        Kolkata Knight Riders
3   W Jaffer  2008-04-18  M Chinnaswamy Stadium        Kolkata Knight Riders
4  DJ Hussey  2008-04-18  M Chinnaswamy Stadium  Royal Challengers Bangalore

   rolling_avg_5  venue_avg  pvt_avg    pvp_avg  career_avg  next_match_runs  \
0        6.04888   8.077586      0.0  10.181818         0.0              2.0
1        6.04888   6.666667      0.0   1.000000        11.5              2.0
2        6.04888   6.666667      1.0   2.000000         1.0              3.0
3        6.04888   6.666667      1.5   3.000000         1.5              3.0
4        6.04888   6.333333      1.5   2.333333         1.5              6.0

   rolling_wkts_5  bowler_venue_avg  pvt_avg    pvp_avg  bowler_career_avg  \
0        0.237864          0.111111      0.0  10.181818           0.000000
1        0.237864          0.300000      0.0   1.000000           0.333333
2        0.400000          0.236842      1.0   2.000000           0.250000
3        0.000000          0.111111      1.5   3.000000           0.000000
4        0.237864          0.287037      1.5   2.333333           0.000000

   bowler_vs_team_avg  next_match_wicket
0            0.000000                0.0
1            0.333333                1.0
2            0.250000                0.0
3            0.000000                1.0
4            0.000000                0.0
(52864, 17)