In [1]:
#  importing required libraries 
#import pickle  #to save trained model 
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler   #standardize features to improve its performance
from sklearn.pipeline import Pipeline

In [2]:
#ipl = pd.read_csv("data/cleaned/ipl_master.csv")
ipl = pd.read_csv(
    "data/cleaned/ipl_master.csv",
    low_memory=False
)

In [3]:
print(ipl)

        match_id  inning           batting_team                 bowling_team  \
0         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
1         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
2         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
3         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
4         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
...          ...     ...                    ...                          ...
260915   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260916   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260917   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260918   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260919   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad

        over  ball       batter         bowler  non_striker  batsman_runs  \
0          0     1   SC Ganguly        P Kumar  BB McCullum             0
1          0     2  BB McCullum        P Kumar   SC Ganguly             0
2          0     3  BB McCullum        P Kumar   SC Ganguly             0
3          0     4  BB McCullum        P Kumar   SC Ganguly             0
4          0     5  BB McCullum        P Kumar   SC Ganguly             0
...      ...   ...          ...            ...          ...           ...
260915     9     5      SS Iyer     AK Markram      VR Iyer             1
260916     9     6      VR Iyer     AK Markram      SS Iyer             1
260917    10     1      VR Iyer  Shahbaz Ahmed      SS Iyer             1
260918    10     2      SS Iyer  Shahbaz Ahmed      VR Iyer             1
260919    10     3      VR Iyer  Shahbaz Ahmed      SS Iyer             1

        ...  is_wicket  player_dismissed dismissal_kind  fielder       id  \
0       ...          0                 0              0        0   335982
1       ...          0                 0              0        0   335982
2       ...          0                 0              0        0   335982
3       ...          0                 0              0        0   335982
4       ...          0                 0              0        0   335982
...     ...        ...               ...            ...      ...      ...
260915  ...          0                 0              0        0  1426312
260916  ...          0                 0              0        0  1426312
260917  ...          0                 0              0        0  1426312
260918  ...          0                 0              0        0  1426312
260919  ...          0                 0              0        0  1426312

         season                                     venue        date  \
0       2007/08                     M Chinnaswamy Stadium  2008-04-18
1       2007/08                     M Chinnaswamy Stadium  2008-04-18
2       2007/08                     M Chinnaswamy Stadium  2008-04-18
3       2007/08                     M Chinnaswamy Stadium  2008-04-18
4       2007/08                     M Chinnaswamy Stadium  2008-04-18
...         ...                                       ...         ...
260915     2024  MA Chidambaram Stadium, Chepauk, Chennai  2024-05-26
260916     2024  MA Chidambaram Stadium, Chepauk, Chennai  2024-05-26
260917     2024  MA Chidambaram Stadium, Chepauk, Chennai  2024-05-26
260918     2024  MA Chidambaram Stadium, Chepauk, Chennai  2024-05-26
260919     2024  MA Chidambaram Stadium, Chepauk, Chennai  2024-05-26

                              team1                  team2
0       Royal Challengers Bangalore  Kolkata Knight Riders
1       Royal Challengers Bangalore  Kolkata Knight Riders
2       Royal Challengers Bangalore  Kolkata Knight Riders
3       Royal Challengers Bangalore  Kolkata Knight Riders
4       Royal Challengers Bangalore  Kolkata Knight Riders
...                             ...                    ...
260915          Sunrisers Hyderabad  Kolkata Knight Riders
260916          Sunrisers Hyderabad  Kolkata Knight Riders
260917          Sunrisers Hyderabad  Kolkata Knight Riders
260918          Sunrisers Hyderabad  Kolkata Knight Riders
260919          Sunrisers Hyderabad  Kolkata Knight Riders

[260920 rows x 23 columns]

In [4]:
#____player_match_aggregation
df = ipl.groupby(['batter','match_id','venue','bowler','bowling_team','date','over','batting_team','total_runs']).agg({'batsman_runs':'sum','is_wicket':'sum'}).reset_index()

In [5]:
#To Sort data in chronological order
df = df.sort_values(['batter','date'])

In [6]:
print(df)

                batter  match_id             venue           bowler  \
0       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
1       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
2       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
3       A Ashish Reddy    548346  Wankhede Stadium         MM Patel
4       A Ashish Reddy    548346  Wankhede Stadium      RJ Peterson
...                ...       ...               ...              ...
178508          Z Khan   1082635  Feroz Shah Kotla        HH Pandya
178509          Z Khan   1082635  Feroz Shah Kotla  Harbhajan Singh
178510          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178511          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178512          Z Khan   1082646  Feroz Shah Kotla           P Negi

                       bowling_team        date  over      batting_team  \
0                    Mumbai Indians  2012-04-29    14   Deccan Chargers
1                    Mumbai Indians  2012-04-29    14   Deccan Chargers
2                    Mumbai Indians  2012-04-29    14   Deccan Chargers
3                    Mumbai Indians  2012-04-29    15   Deccan Chargers
4                    Mumbai Indians  2012-04-29    13   Deccan Chargers
...                             ...         ...   ...               ...
178508               Mumbai Indians  2017-05-06    12  Delhi Daredevils
178509               Mumbai Indians  2017-05-06    10  Delhi Daredevils
178510               Mumbai Indians  2017-05-06    11  Delhi Daredevils
178511               Mumbai Indians  2017-05-06    13  Delhi Daredevils
178512  Royal Challengers Bangalore  2017-05-14    19  Delhi Daredevils

        total_runs  batsman_runs  is_wicket
0                0             0          0
1                1             1          0
2                2             2          0
3                0             0          1
4                0             0          0
...            ...           ...        ...
178508           1             1          0
178509           0             0          0
178510           1             1          0
178511           0             0          1
178512           1             1          0

[178513 rows x 11 columns]

In [7]:
#______rolling averages (form)feature
df['rolling_avg_5']=df.groupby('batter')['batsman_runs'].rolling(5).mean().reset_index(0,drop=True)
print(df.head())

           batter  match_id             venue        bowler    bowling_team  \
0  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
1  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
2  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
3  A Ashish Reddy    548346  Wankhede Stadium      MM Patel  Mumbai Indians
4  A Ashish Reddy    548346  Wankhede Stadium   RJ Peterson  Mumbai Indians

         date  over     batting_team  total_runs  batsman_runs  is_wicket  \
0  2012-04-29    14  Deccan Chargers           0             0          0
1  2012-04-29    14  Deccan Chargers           1             1          0
2  2012-04-29    14  Deccan Chargers           2             2          0
3  2012-04-29    15  Deccan Chargers           0             0          1
4  2012-04-29    13  Deccan Chargers           0             0          0

   rolling_avg_5
0            NaN
1            NaN
2            NaN
3            NaN
4            0.6

In [8]:
#______rolling averages (form)feature
df['rolling_avg_wickets']=(
    df.groupby('bowler')['is_wicket'].rolling(window=5, min_periods=1).mean().reset_index(0,drop=True)
)
print(df[['date','match_id','bowler','rolling_avg_wickets']])

              date  match_id           bowler  rolling_avg_wickets
0       2012-04-29    548346     JEC Franklin                  0.0
1       2012-04-29    548346     JEC Franklin                  0.0
2       2012-04-29    548346     JEC Franklin                  0.0
3       2012-04-29    548346         MM Patel                  1.0
4       2012-04-29    548346      RJ Peterson                  0.0
...            ...       ...              ...                  ...
178508  2017-05-06   1082635        HH Pandya                  0.0
178509  2017-05-06   1082635  Harbhajan Singh                  0.0
178510  2017-05-06   1082635        KV Sharma                  0.0
178511  2017-05-06   1082635        KV Sharma                  0.2
178512  2017-05-14   1082646           P Negi                  0.2

[178513 rows x 4 columns]

In [9]:
df['overs_bowled_last5']=df.groupby('bowler')['over'].rolling(5).count().reset_index(0, drop=True)/6
print(df['overs_bowled_last5'])

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
178508    0.833333
178509    0.833333
178510    0.833333
178511    0.833333
178512    0.833333
Name: overs_bowled_last5, Length: 178513, dtype: float64

In [10]:
#____________venue averages
df['venue_avg']=df.groupby('batter')['batsman_runs'].transform('mean')
print(df)

                batter  match_id             venue           bowler  \
0       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
1       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
2       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
3       A Ashish Reddy    548346  Wankhede Stadium         MM Patel
4       A Ashish Reddy    548346  Wankhede Stadium      RJ Peterson
...                ...       ...               ...              ...
178508          Z Khan   1082635  Feroz Shah Kotla        HH Pandya
178509          Z Khan   1082635  Feroz Shah Kotla  Harbhajan Singh
178510          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178511          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178512          Z Khan   1082646  Feroz Shah Kotla           P Negi

                       bowling_team        date  over      batting_team  \
0                    Mumbai Indians  2012-04-29    14   Deccan Chargers
1                    Mumbai Indians  2012-04-29    14   Deccan Chargers
2                    Mumbai Indians  2012-04-29    14   Deccan Chargers
3                    Mumbai Indians  2012-04-29    15   Deccan Chargers
4                    Mumbai Indians  2012-04-29    13   Deccan Chargers
...                             ...         ...   ...               ...
178508               Mumbai Indians  2017-05-06    12  Delhi Daredevils
178509               Mumbai Indians  2017-05-06    10  Delhi Daredevils
178510               Mumbai Indians  2017-05-06    11  Delhi Daredevils
178511               Mumbai Indians  2017-05-06    13  Delhi Daredevils
178512  Royal Challengers Bangalore  2017-05-14    19  Delhi Daredevils

        total_runs  batsman_runs  is_wicket  rolling_avg_5  \
0                0             0          0            NaN
1                1             1          0            NaN
2                2             2          0            NaN
3                0             0          1            NaN
4                0             0          0            0.6
...            ...           ...        ...            ...
178508           1             1          0            0.8
178509           0             0          0            0.4
178510           1             1          0            0.6
178511           0             0          1            0.4
178512           1             1          0            0.6

        rolling_avg_wickets  overs_bowled_last5  venue_avg
0                       0.0                 NaN   1.971831
1                       0.0                 NaN   1.971831
2                       0.0                 NaN   1.971831
3                       1.0                 NaN   1.971831
4                       0.0                 NaN   1.971831
...                     ...                 ...        ...
178508                  0.0            0.833333   1.285714
178509                  0.0            0.833333   1.285714
178510                  0.0            0.833333   1.285714
178511                  0.2            0.833333   1.285714
178512                  0.2            0.833333   1.285714

[178513 rows x 15 columns]

In [11]:
df['venue_avg_wickets']=(
    df.groupby(['bowler','venue'])['is_wicket'].transform('mean')
)
print(df[['bowler','venue','venue_avg_wickets']])

                 bowler             venue  venue_avg_wickets
0          JEC Franklin  Wankhede Stadium           0.071429
1          JEC Franklin  Wankhede Stadium           0.071429
2          JEC Franklin  Wankhede Stadium           0.071429
3              MM Patel  Wankhede Stadium           0.089552
4           RJ Peterson  Wankhede Stadium           0.000000
...                 ...               ...                ...
178508        HH Pandya  Feroz Shah Kotla           0.066667
178509  Harbhajan Singh  Feroz Shah Kotla           0.068966
178510        KV Sharma  Feroz Shah Kotla           0.105263
178511        KV Sharma  Feroz Shah Kotla           0.105263
178512           P Negi  Feroz Shah Kotla           0.108696

[178513 rows x 3 columns]

In [12]:
#_____________opponent-specific stats(Player vs Team)
#df['pvt_avg'] = df.groupby(['batter','bowler'])['batsman_runs'].transform('mean')

#___shift(1) avoids data leakage____

df['pvt_avg'] = df.groupby(['batter','bowler'])['batsman_runs']\
                           .expanding().mean().shift(1)\
                           .reset_index(level=[0,1], drop=True)
print(df)

                batter  match_id             venue           bowler  \
0       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
1       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
2       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
3       A Ashish Reddy    548346  Wankhede Stadium         MM Patel
4       A Ashish Reddy    548346  Wankhede Stadium      RJ Peterson
...                ...       ...               ...              ...
178508          Z Khan   1082635  Feroz Shah Kotla        HH Pandya
178509          Z Khan   1082635  Feroz Shah Kotla  Harbhajan Singh
178510          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178511          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178512          Z Khan   1082646  Feroz Shah Kotla           P Negi

                       bowling_team        date  over      batting_team  \
0                    Mumbai Indians  2012-04-29    14   Deccan Chargers
1                    Mumbai Indians  2012-04-29    14   Deccan Chargers
2                    Mumbai Indians  2012-04-29    14   Deccan Chargers
3                    Mumbai Indians  2012-04-29    15   Deccan Chargers
4                    Mumbai Indians  2012-04-29    13   Deccan Chargers
...                             ...         ...   ...               ...
178508               Mumbai Indians  2017-05-06    12  Delhi Daredevils
178509               Mumbai Indians  2017-05-06    10  Delhi Daredevils
178510               Mumbai Indians  2017-05-06    11  Delhi Daredevils
178511               Mumbai Indians  2017-05-06    13  Delhi Daredevils
178512  Royal Challengers Bangalore  2017-05-14    19  Delhi Daredevils

        total_runs  batsman_runs  is_wicket  rolling_avg_5  \
0                0             0          0            NaN
1                1             1          0            NaN
2                2             2          0            NaN
3                0             0          1            NaN
4                0             0          0            0.6
...            ...           ...        ...            ...
178508           1             1          0            0.8
178509           0             0          0            0.4
178510           1             1          0            0.6
178511           0             0          1            0.4
178512           1             1          0            0.6

        rolling_avg_wickets  overs_bowled_last5  venue_avg  venue_avg_wickets  \
0                       0.0                 NaN   1.971831           0.071429
1                       0.0                 NaN   1.971831           0.071429
2                       0.0                 NaN   1.971831           0.071429
3                       1.0                 NaN   1.971831           0.089552
4                       0.0                 NaN   1.971831           0.000000
...                     ...                 ...        ...                ...
178508                  0.0            0.833333   1.285714           0.066667
178509                  0.0            0.833333   1.285714           0.068966
178510                  0.0            0.833333   1.285714           0.105263
178511                  0.2            0.833333   1.285714           0.105263
178512                  0.2            0.833333   1.285714           0.108696

         pvt_avg
0       0.000000
1       0.000000
2       0.500000
3       2.333333
4       2.000000
...          ...
178508  0.000000
178509  0.500000
178510  0.000000
178511  1.000000
178512  1.000000

[178513 rows x 17 columns]

In [13]:
#_____________opponent-specific stats(Player vs player(bowler)
df['pvp_avg'] = df.groupby(['batter','bowler'])['batsman_runs']\
                           .expanding().mean().shift(1)\
                           .reset_index(level=[0,1], drop=True)
print(df.head())

           batter  match_id             venue        bowler    bowling_team  \
0  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
1  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
2  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
3  A Ashish Reddy    548346  Wankhede Stadium      MM Patel  Mumbai Indians
4  A Ashish Reddy    548346  Wankhede Stadium   RJ Peterson  Mumbai Indians

         date  over     batting_team  total_runs  batsman_runs  is_wicket  \
0  2012-04-29    14  Deccan Chargers           0             0          0
1  2012-04-29    14  Deccan Chargers           1             1          0
2  2012-04-29    14  Deccan Chargers           2             2          0
3  2012-04-29    15  Deccan Chargers           0             0          1
4  2012-04-29    13  Deccan Chargers           0             0          0

   rolling_avg_5  rolling_avg_wickets  overs_bowled_last5  venue_avg  \
0            NaN                  0.0                 NaN   1.971831
1            NaN                  0.0                 NaN   1.971831
2            NaN                  0.0                 NaN   1.971831
3            NaN                  1.0                 NaN   1.971831
4            0.6                  0.0                 NaN   1.971831

   venue_avg_wickets   pvt_avg   pvp_avg
0           0.071429  0.000000  0.000000
1           0.071429  0.000000  0.000000
2           0.071429  0.500000  0.500000
3           0.089552  2.333333  2.333333
4           0.000000  2.000000  2.000000

In [14]:
df['opponent_wickets']=(df.groupby(['bowler','batting_team'])['is_wicket'].transform('mean'))
print(df)

                batter  match_id             venue           bowler  \
0       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
1       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
2       A Ashish Reddy    548346  Wankhede Stadium     JEC Franklin
3       A Ashish Reddy    548346  Wankhede Stadium         MM Patel
4       A Ashish Reddy    548346  Wankhede Stadium      RJ Peterson
...                ...       ...               ...              ...
178508          Z Khan   1082635  Feroz Shah Kotla        HH Pandya
178509          Z Khan   1082635  Feroz Shah Kotla  Harbhajan Singh
178510          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178511          Z Khan   1082635  Feroz Shah Kotla        KV Sharma
178512          Z Khan   1082646  Feroz Shah Kotla           P Negi

                       bowling_team        date  over      batting_team  \
0                    Mumbai Indians  2012-04-29    14   Deccan Chargers
1                    Mumbai Indians  2012-04-29    14   Deccan Chargers
2                    Mumbai Indians  2012-04-29    14   Deccan Chargers
3                    Mumbai Indians  2012-04-29    15   Deccan Chargers
4                    Mumbai Indians  2012-04-29    13   Deccan Chargers
...                             ...         ...   ...               ...
178508               Mumbai Indians  2017-05-06    12  Delhi Daredevils
178509               Mumbai Indians  2017-05-06    10  Delhi Daredevils
178510               Mumbai Indians  2017-05-06    11  Delhi Daredevils
178511               Mumbai Indians  2017-05-06    13  Delhi Daredevils
178512  Royal Challengers Bangalore  2017-05-14    19  Delhi Daredevils

        total_runs  batsman_runs  is_wicket  rolling_avg_5  \
0                0             0          0            NaN
1                1             1          0            NaN
2                2             2          0            NaN
3                0             0          1            NaN
4                0             0          0            0.6
...            ...           ...        ...            ...
178508           1             1          0            0.8
178509           0             0          0            0.4
178510           1             1          0            0.6
178511           0             0          1            0.4
178512           1             1          0            0.6

        rolling_avg_wickets  overs_bowled_last5  venue_avg  venue_avg_wickets  \
0                       0.0                 NaN   1.971831           0.071429
1                       0.0                 NaN   1.971831           0.071429
2                       0.0                 NaN   1.971831           0.071429
3                       1.0                 NaN   1.971831           0.089552
4                       0.0                 NaN   1.971831           0.000000
...                     ...                 ...        ...                ...
178508                  0.0            0.833333   1.285714           0.066667
178509                  0.0            0.833333   1.285714           0.068966
178510                  0.0            0.833333   1.285714           0.105263
178511                  0.2            0.833333   1.285714           0.105263
178512                  0.2            0.833333   1.285714           0.108696

         pvt_avg   pvp_avg  opponent_wickets
0       0.000000  0.000000          0.133333
1       0.000000  0.000000          0.133333
2       0.500000  0.500000          0.133333
3       2.333333  2.333333          0.065421
4       2.000000  2.000000          0.000000
...          ...       ...               ...
178508  0.000000  0.000000          0.046875
178509  0.500000  0.500000          0.074074
178510  0.000000  0.000000          0.098765
178511  1.000000  1.000000          0.098765
178512  1.000000  1.000000          0.269231

[178513 rows x 19 columns]

In [15]:
df['bowler_economy']=(
    df.groupby(['match_id','bowler'])['total_runs'].transform('sum')/
    (
        df.groupby(['match_id','bowler'])['over']
        .transform('nunique')
    )
)
print(df[['date','match_id','bowler','bowler_economy']])

              date  match_id           bowler  bowler_economy
0       2012-04-29    548346     JEC Franklin        5.333333
1       2012-04-29    548346     JEC Franklin        5.333333
2       2012-04-29    548346     JEC Franklin        5.333333
3       2012-04-29    548346         MM Patel        5.750000
4       2012-04-29    548346      RJ Peterson        8.000000
...            ...       ...              ...             ...
178508  2017-05-06   1082635        HH Pandya        2.000000
178509  2017-05-06   1082635  Harbhajan Singh        5.250000
178510  2017-05-06   1082635        KV Sharma        2.250000
178511  2017-05-06   1082635        KV Sharma        2.250000
178512  2017-05-14   1082646           P Negi        5.000000

[178513 rows x 4 columns]

In [16]:
#______________career stats
df['career_avg'] = df.groupby('batter')['batsman_runs']\
                           .expanding().mean().shift(1)\
                           .reset_index(level=0, drop=True)
print(df.head())

           batter  match_id             venue        bowler    bowling_team  \
0  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
1  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
2  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
3  A Ashish Reddy    548346  Wankhede Stadium      MM Patel  Mumbai Indians
4  A Ashish Reddy    548346  Wankhede Stadium   RJ Peterson  Mumbai Indians

         date  over     batting_team  total_runs  batsman_runs  ...  \
0  2012-04-29    14  Deccan Chargers           0             0  ...
1  2012-04-29    14  Deccan Chargers           1             1  ...
2  2012-04-29    14  Deccan Chargers           2             2  ...
3  2012-04-29    15  Deccan Chargers           0             0  ...
4  2012-04-29    13  Deccan Chargers           0             0  ...

   rolling_avg_5  rolling_avg_wickets  overs_bowled_last5  venue_avg  \
0            NaN                  0.0                 NaN   1.971831
1            NaN                  0.0                 NaN   1.971831
2            NaN                  0.0                 NaN   1.971831
3            NaN                  1.0                 NaN   1.971831
4            0.6                  0.0                 NaN   1.971831

   venue_avg_wickets   pvt_avg   pvp_avg  opponent_wickets  bowler_economy  \
0           0.071429  0.000000  0.000000          0.133333        5.333333
1           0.071429  0.000000  0.000000          0.133333        5.333333
2           0.071429  0.500000  0.500000          0.133333        5.333333
3           0.089552  2.333333  2.333333          0.065421        5.750000
4           0.000000  2.000000  2.000000          0.000000        8.000000

   career_avg
0         NaN
1        0.00
2        0.50
3        1.00
4        0.75

[5 rows x 21 columns]

In [17]:
df['bowler_career_wickets_avg']=df.groupby('bowler')['is_wicket']\
                           .expanding().mean().shift(1)\
                           .reset_index(level=0, drop=True)
print(df.head(6))

           batter  match_id             venue        bowler    bowling_team  \
0  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
1  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
2  A Ashish Reddy    548346  Wankhede Stadium  JEC Franklin  Mumbai Indians
3  A Ashish Reddy    548346  Wankhede Stadium      MM Patel  Mumbai Indians
4  A Ashish Reddy    548346  Wankhede Stadium   RJ Peterson  Mumbai Indians
5  A Ashish Reddy    548346  Wankhede Stadium   RJ Peterson  Mumbai Indians

         date  over     batting_team  total_runs  batsman_runs  ...  \
0  2012-04-29    14  Deccan Chargers           0             0  ...
1  2012-04-29    14  Deccan Chargers           1             1  ...
2  2012-04-29    14  Deccan Chargers           2             2  ...
3  2012-04-29    15  Deccan Chargers           0             0  ...
4  2012-04-29    13  Deccan Chargers           0             0  ...
5  2012-04-29    13  Deccan Chargers           1             1  ...

   rolling_avg_wickets  overs_bowled_last5  venue_avg  venue_avg_wickets  \
0                  0.0                 NaN   1.971831           0.071429
1                  0.0                 NaN   1.971831           0.071429
2                  0.0                 NaN   1.971831           0.071429
3                  1.0                 NaN   1.971831           0.089552
4                  0.0                 NaN   1.971831           0.000000
5                  0.0                 NaN   1.971831           0.000000

    pvt_avg   pvp_avg  opponent_wickets  bowler_economy  career_avg  \
0  0.000000  0.000000          0.133333        5.333333         NaN
1  0.000000  0.000000          0.133333        5.333333        0.00
2  0.500000  0.500000          0.133333        5.333333        0.50
3  2.333333  2.333333          0.065421        5.750000        1.00
4  2.000000  2.000000          0.000000        8.000000        0.75
5  0.000000  0.000000          0.000000        8.000000        0.60

   bowler_career_wickets_avg
0                   0.066667
1                   0.000000
2                   0.000000
3                   0.077369
4                   0.082892
5                   0.000000

[6 rows x 22 columns]

In [18]:
#___________Create target label
df['next_match_runs']=df.groupby('batter')['batsman_runs'].shift(-1)
df=df.dropna()
print(df.head())

            batter  match_id                                      venue  \
30  A Ashish Reddy    598004  Rajiv Gandhi International Stadium, Uppal
31  A Ashish Reddy    598004  Rajiv Gandhi International Stadium, Uppal
84  A Ashish Reddy    598048                      M Chinnaswamy Stadium
44  A Ashish Reddy    598018    Maharashtra Cricket Association Stadium
49  A Ashish Reddy    598018    Maharashtra Cricket Association Stadium

           bowler                 bowling_team        date  over  \
30  R Vinay Kumar  Royal Challengers Bangalore  2013-04-07    17
31  R Vinay Kumar  Royal Challengers Bangalore  2013-04-07    19
84  R Vinay Kumar  Royal Challengers Bangalore  2013-04-09    18
44       AB Dinda                Pune Warriors  2013-04-17    19
49     AD Mathews                Pune Warriors  2013-04-17    18

           batting_team  total_runs  batsman_runs  ...  overs_bowled_last5  \
30  Sunrisers Hyderabad           6             6  ...            0.833333
31  Sunrisers Hyderabad           0             0  ...            0.833333
84  Sunrisers Hyderabad           1             2  ...            0.833333
44  Sunrisers Hyderabad           1             1  ...            0.833333
49  Sunrisers Hyderabad           6             6  ...            0.833333

    venue_avg  venue_avg_wickets  pvt_avg  pvp_avg  opponent_wickets  \
30   1.971831           0.114286     1.50     1.50          0.045977
31   1.971831           0.114286     2.40     2.40          0.045977
84   1.971831           0.087193     2.00     2.00          0.045977
44   1.971831           0.093333     2.00     2.00          0.094737
49   1.971831           0.035714     1.75     1.75          0.018868

    bowler_economy  career_avg  bowler_career_wickets_avg  next_match_runs
30            7.20    1.666667                   0.250000              0.0
31            7.20    1.806452                   0.200000              2.0
84            8.75    1.750000                   0.333333              1.0
44            5.25    1.723404                   0.000000              0.0
49            5.50    1.711538                   0.000000              3.0

[5 rows x 23 columns]

In [19]:
df['next_match_wicket'] = df.groupby('bowler')['is_wicket'].shift(-1)
df=df.dropna()
print(df.head(5))

            batter  match_id                                      venue  \
30  A Ashish Reddy    598004  Rajiv Gandhi International Stadium, Uppal
31  A Ashish Reddy    598004  Rajiv Gandhi International Stadium, Uppal
84  A Ashish Reddy    598048                      M Chinnaswamy Stadium
44  A Ashish Reddy    598018    Maharashtra Cricket Association Stadium
49  A Ashish Reddy    598018    Maharashtra Cricket Association Stadium

           bowler                 bowling_team        date  over  \
30  R Vinay Kumar  Royal Challengers Bangalore  2013-04-07    17
31  R Vinay Kumar  Royal Challengers Bangalore  2013-04-07    19
84  R Vinay Kumar  Royal Challengers Bangalore  2013-04-09    18
44       AB Dinda                Pune Warriors  2013-04-17    19
49     AD Mathews                Pune Warriors  2013-04-17    18

           batting_team  total_runs  batsman_runs  ...  venue_avg  \
30  Sunrisers Hyderabad           6             6  ...   1.971831
31  Sunrisers Hyderabad           0             0  ...   1.971831
84  Sunrisers Hyderabad           1             2  ...   1.971831
44  Sunrisers Hyderabad           1             1  ...   1.971831
49  Sunrisers Hyderabad           6             6  ...   1.971831

    venue_avg_wickets  pvt_avg  pvp_avg  opponent_wickets  bowler_economy  \
30           0.114286     1.50     1.50          0.045977            7.20
31           0.114286     2.40     2.40          0.045977            7.20
84           0.087193     2.00     2.00          0.045977            8.75
44           0.093333     2.00     2.00          0.094737            5.25
49           0.035714     1.75     1.75          0.018868            5.50

    career_avg  bowler_career_wickets_avg  next_match_runs  next_match_wicket
30    1.666667                   0.250000              0.0                1.0
31    1.806452                   0.200000              2.0                0.0
84    1.750000                   0.333333              1.0                0.0
44    1.723404                   0.000000              0.0                0.0
49    1.711538                   0.000000              3.0                0.0

[5 rows x 24 columns]

In [20]:
## _________________Feature selection for Batsman
features=df[['batter','rolling_avg_5','venue_avg','pvt_avg','pvp_avg','career_avg']]
labels  =df[['next_match_runs']]
print(features.head(10))
print(labels)

            batter  rolling_avg_5  venue_avg  pvt_avg  pvp_avg  career_avg
30  A Ashish Reddy            2.8   1.971831     1.50     1.50    1.666667
31  A Ashish Reddy            2.6   1.971831     2.40     2.40    1.806452
84  A Ashish Reddy            2.4   1.971831     2.00     2.00    1.750000
44  A Ashish Reddy            1.2   1.971831     2.00     2.00    1.723404
49  A Ashish Reddy            2.6   1.971831     1.75     1.75    1.711538
64  A Ashish Reddy            1.8   1.971831     1.00     1.00    1.761194
65  A Ashish Reddy            1.0   1.971831     0.80     0.80    1.735294
66  A Ashish Reddy            2.6   1.971831     1.00     1.00    1.739130
67  A Ashish Reddy            3.6   1.971831     2.00     2.00    1.828571
87  A Ashish Reddy            1.2   1.971831     2.50     2.50    1.839080
        next_match_runs
30                  0.0
31                  2.0
84                  1.0
44                  0.0
49                  3.0
...                 ...
178496              6.0
178500              4.0
178503              2.0
178507              1.0
178510              0.0

[172843 rows x 1 columns]

In [21]:
print(df.columns.tolist())

['batter', 'match_id', 'venue', 'bowler', 'bowling_team', 'date', 'over', 'batting_team', 'total_runs', 'batsman_runs', 'is_wicket', 'rolling_avg_5', 'rolling_avg_wickets', 'overs_bowled_last5', 'venue_avg', 'venue_avg_wickets', 'pvt_avg', 'pvp_avg', 'opponent_wickets', 'bowler_economy', 'career_avg', 'bowler_career_wickets_avg', 'next_match_runs', 'next_match_wicket']

In [22]:
##_________________________feature selection for bowler
features = df[['bowler','rolling_avg_wickets','venue_avg_wickets','opponent_wickets','bowler_economy','bowler_career_wickets_avg']]
labels =df[['next_match_wicket']]
print('Bowler Features:')
print(features.head())
print(labels)

Bowler Features:
           bowler  rolling_avg_wickets  venue_avg_wickets  opponent_wickets  \
30  R Vinay Kumar                  0.2           0.114286          0.045977
31  R Vinay Kumar                  0.2           0.114286          0.045977
84  R Vinay Kumar                  0.2           0.087193          0.045977
44       AB Dinda                  0.0           0.093333          0.094737
49     AD Mathews                  0.0           0.035714          0.018868

    bowler_economy  bowler_career_wickets_avg
30            7.20                   0.250000
31            7.20                   0.200000
84            8.75                   0.333333
44            5.25                   0.000000
49            5.50                   0.000000
        next_match_wicket
30                    1.0
31                    0.0
84                    0.0
44                    0.0
49                    0.0
...                   ...
178496                0.0
178500                0.0
178503                0.0
178507                0.0
178510                1.0

[172843 rows x 1 columns]

In [23]:
# sort chronologically for batsman
df = df.sort_values(['batter', 'date'])

# features and label
X = df[['rolling_avg_5', 'venue_avg', 'pvt_avg', 'pvp_avg', 'career_avg']]
y = df[['next_match_runs']]

# time-based split
split = int(len(df) * 0.8)

X_train = X.iloc[:split]
X_test  = X.iloc[split:]

y_train = y.iloc[:split]
y_test  = y.iloc[split:]

print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(138274, 5) (34569, 5)
(138274, 1) (34569, 1)

In [24]:
# sort chronologically for bowler

# features and label
X = df[['rolling_avg_wickets','venue_avg_wickets','opponent_wickets','bowler_economy','bowler_career_wickets_avg']]
y = df[['next_match_wicket']]

# time-based split
split = int(len(df) * 0.8)

X_train = X.iloc[:split]
X_test  = X.iloc[split:]

y_train = y.iloc[:split]
y_test  = y.iloc[split:]

print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(138274, 5) (34569, 5)
(138274, 1) (34569, 1)

In [25]:
#_________________Feature pipeline
pipeline=Pipeline([
    ('scaler',StandardScaler())
])
pipeline.fit(X_train)
joblib.dump(pipeline,"scripts/feature_pipeline.pkl")

['scripts/feature_pipeline.pkl']

In [26]:
#____________save Final Dataset
final_df = df[['batter','date','venue','bowler','bowling_team','rolling_avg_5','venue_avg','pvt_avg','pvp_avg','career_avg','next_match_runs','next_match_wicket','rolling_avg_wickets',
        'venue_avg_wickets','opponent_wickets','bowler_economy','bowler_career_wickets_avg']]
print(final_df.head())

            batter        date                                      venue  \
30  A Ashish Reddy  2013-04-07  Rajiv Gandhi International Stadium, Uppal
31  A Ashish Reddy  2013-04-07  Rajiv Gandhi International Stadium, Uppal
84  A Ashish Reddy  2013-04-09                      M Chinnaswamy Stadium
44  A Ashish Reddy  2013-04-17    Maharashtra Cricket Association Stadium
49  A Ashish Reddy  2013-04-17    Maharashtra Cricket Association Stadium

           bowler                 bowling_team  rolling_avg_5  venue_avg  \
30  R Vinay Kumar  Royal Challengers Bangalore            2.8   1.971831
31  R Vinay Kumar  Royal Challengers Bangalore            2.6   1.971831
84  R Vinay Kumar  Royal Challengers Bangalore            2.4   1.971831
44       AB Dinda                Pune Warriors            1.2   1.971831
49     AD Mathews                Pune Warriors            2.6   1.971831

    pvt_avg  pvp_avg  career_avg  next_match_runs  next_match_wicket  \
30     1.50     1.50    1.666667              0.0                1.0
31     2.40     2.40    1.806452              2.0                0.0
84     2.00     2.00    1.750000              1.0                0.0
44     2.00     2.00    1.723404              0.0                0.0
49     1.75     1.75    1.711538              3.0                0.0

    rolling_avg_wickets  venue_avg_wickets  opponent_wickets  bowler_economy  \
30                  0.2           0.114286          0.045977            7.20
31                  0.2           0.114286          0.045977            7.20
84                  0.2           0.087193          0.045977            8.75
44                  0.0           0.093333          0.094737            5.25
49                  0.0           0.035714          0.018868            5.50

    bowler_career_wickets_avg
30                   0.250000
31                   0.200000
84                   0.333333
44                   0.000000
49                   0.000000

In [27]:
final_df.to_csv("data/processed/dataset.csv",index=False)
print("Milestone-2 is completed:dataset.csv & feature_pipeline.pkl created!")

Milestone-2 is completed:dataset.csv & feature_pipeline.pkl created!